# Dependencies
node_modules/

# Build
dist/
.next/
out/

# Turbo
.turbo/

# Coverage
coverage/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/settings.json
.idea/

# Operating System
.DS_Store
Thumbs.db